.section-fifth {
    background-color: var(--fifth-section-bg);
}

.section-fifth-svg {
    background-color: var(--sixt-section-bg);
}

.happy-image {
    width: 300px;
    height: 250px;
    background: url("https://www.seekpng.com/png/detail/299-2993990_children-kids-icon-png-happy-children.png") no-repeat center/cover;
    border-radius: 1rem;
}
