<header>
    <div class="menu menu-left">
        <a href="#" class="parent-link">
            <span>Elterninfo</span>
            <div class="parent"></div>
        </a>
        <a href="#" class="crew-link">
            <span>Crew</span>
            <div class="crew"></div>
        </a>
    </div>
    <div class="logo">
        Platzhalter
    </div>
    <div class="menu menu-right">
        <a href="#" class="price-link">
            <span>Preise</span>
            <div class="price"></div>
        </a>
        <a href="#" class="contact-link">
            <span>Kontakt</span>
            <div class="contact"></div>
        </a>
    </div>
</header>
