html, body {
    height: auto;
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Sniglet', cursive;
}

body {
    height: auto;
    min-height: 100vh;
    color: var(--blue);
    background: #F9D199;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF84E5DA', endColorstr='#FF2BA4F2');
    background-size: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.ml-md {
    margin-left: .5rem;
}

.my-md {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mx-md {
    margin-left: .5rem;
    margin-right: .5rem;
}
