.ml-md {
    margin-left: .5rem;
}

.my-md {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mx-md {
    margin-left: .5rem;
    margin-right: .5rem;
}

.py-5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.container {
    width: 60%;
    height: auto;
    padding: 1rem;
}

.split-2-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.split-2-horizontal .first-split, .split-2-horizontal .second-split {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}


.container div.list {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
