<footer class="py-5 column">
    <div class="footer-top row">
        <div class="contact-footer">
            <h3>Get in Touch</h3>
            <p>Kontaktiere uns gerne!</p>
            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="novalidate">
                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email"><br>
                <button class="btn" type="submit">Subscribe</button>
            </form>
        </div>
        <div class="pages-footer">
            <h3>Suche</h3>
            <div class="links">
                <ul class="f_list">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Term &amp; conditions</a></li>
                    <li><a href="#">Reporting</a></li>
                </ul>
                <ul class="f_list">
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Support Policy</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="social-footer">
            <h3>Team Solutions</h3>
            <div class="f_social_icon">
                <a href="#" class="fab fa-facebook"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="column">
            <div>
                <p class="mb-0 f_400">© meereszauber-aplerbeck.de 2020 All rights reserved.</p>
            </div>
            <div>
                <p>Made with <i class="fa fa-heart"></i> by <a href="#" target="_blank"> durmex</a></p>
            </div>
        </div>
    </div>
</footer>
