.content-wrapper {
    position: relative;
    height: auto;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.animations {
    position: absolute;
    z-index: -1;
}

.animations.starfish {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 10%;
}

.animations.starfish-two {
    width: 100px;
    height: 100px;
    top: 30%;
    right: 10%;
}
