<div class="content-wrapper">
    <h1>Herzlich Willkommen bei Meereszauber!</h1>
    <h2>
        <small>
            Taucht ab in eine Welt der Phantasie, voll spannender Abenteuer, wo kleine Piratinnen und Piraten auf Schatzsuche gehen, den Leuchtturm
            ansteuern, oder am Salzstrand buddeln und entspannen können …
        </small>
    </h2>
    <h2>
        <small>
            Bei uns erwartet euch ein Inhalatorium, welches als kleiner „Salzspielstrand“ erstrahlt und Kindern, sowie Ihren Begleitpersonen die
            Möglichkeit geben soll, spielend leicht, durch salzhaltige Luft, Ihre Gesundheit zu verbessern.
        </small>
    </h2>
    <h2>
        <small>
            Der Meereszauber-Spielstrand ist anstelle von Sand mit Salz ausgelegt und bietet mit seiner Auswahl an hochwertigen Spielmaterialien,
            einem Spielschiff und einem Leuchtturm, viel Anregung für ausgelassenes Spielen, Klettern und Rutschen, eben ganz wie am Strand.
        </small>
    </h2>
</div>

<div class="animations starfish">
    <ng-lottie [options]="optionsStarfish" (animationCreated)="animationCreated($event)"></ng-lottie>
</div>

<div class="animations starfish-two">
    <ng-lottie [options]="optionsStarfish" (animationCreated)="animationCreatedTwo($event)"></ng-lottie>
</div>
