<div class="content-wrapper">
    <h1>Herzlich Willkommen bei Meereszauber!</h1>
    <h2>Taucht ab in eine Welt der Phantasie, voll spannender Abenteuer, wo kleine Piratinnen und Piraten auf Schatzsuche gehen,<br> den Leuchtturm
        ansteuern, oder am Salzstrand buddeln und entspannen können …</h2>
    <h2>
        Bei uns erwartet euch ein Inhalatorium, welches als kleiner „Salzspielstrand“ erstrahlt und Kindern,<br> sowie Ihren Begleitpersonen die
        Möglichkeit geben soll, spielend leicht,<br> durch salzhaltige Luft, Ihre Gesundheit zu verbessern.
    </h2>
    <hr>
    <h2>
        Der Meereszauber-Spielstrand ist anstelle von Sand mit Salz ausgelegt und bietet mit seiner Auswahl an hochwertigen Spielmaterialien, einem
        Spielschiff und einem Leuchtturm, viel Anregung für ausgelassenes Spielen, Klettern und Rutschen, eben ganz wie am Strand.
    </h2>

    <div class="image-wrapper"></div>

    <h2>
        Durch den Einsatz modernster Technik, wird eine 14%ige Thermalsole, die reich an wertvollen Mineralien und Spurenelementen ist, in
        lungenzugängliche Partikel von 0,5-5 Mikron vernebelt und unbemerkt während des Spielens inhaliert.
    </h2>
    <h2>
        Auf diese Weise entsteht ein noch intensiveres Heilklima, als es an der Meeresbrandung zu finden gibt.<br>
        Das gesundheitsfördernde, antibakterielle Mikroklima wirkt besonders schützend und stärkend auf die Atemwege und trägt aktiv zur Heilung
        vieler Krankheiten, sowie zur Stärkung des gesamten Immunsystems bei.
    </h2>
    <div class="image-wrapper"></div>
    <hr>
</div>
