/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

:root {
    font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --header-icons-size: 80px;

    --footer-bg: #F6E3D4;
    --first-section-bg: #F6E3D4;
    --second-section-bg: #FFF;
    --third-section-bg: #F6E3D4;
    --fourth-section-bg: #FFF;
    --fifth-section-bg: #F6E3D4;
    --sixt-section-bg: #FFF;

    --color-dust: #AF540B;
    --sand-main: #FCEEB5;
    --green-main: #A2CCB6;
    --sand: #e7c57b;
    --sky: #c0e0de;
    --water: #9bd0c9;
    --sun-color: #fdc23e;
    --cool: #F90;
    --blue: #5e2ced;
    --blue-old: #1360D7;
}

html, body {
    height: auto;
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: 'Sniglet', cursive;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--blue);
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -.4rem
}

h1 {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
}
