/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

:root {
    font-size: 16px;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    --header-icons-size: 90px;
    --footer-height: 30vh;

    --color-dust: #AF540B;
    --sand-main: #FCEEB5;
    --green-main: #A2CCB6;
    --sand: #e7c57b;
    --sky: #c0e0de;
    --water: #9bd0c9;
    --sun-color: #fdc23e;
    --cool: #F90;
    --blue: #1360D7;
}

h1 {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-top: 8%;
}

h2 {
    margin-top: 5%;
}
